packages:
  yum:
    amazon-linux-extras: []

commands:
  01_set_tmp_permissions:
    command: "chmod -R go+w /var/app/current/tmp"
  02_install node:
    command: |
      curl -sL https://rpm.nodesource.com/setup_14.x | sudo bash -
      yum install -y nodejs
  03_postgres_activate:
      command: sudo amazon-linux-extras enable postgresql10
  04_postgres_install:
      command: sudo yum install -y postgresql-devel
