packages:
  yum:
    amazon-linux-extras: []

commands:
  01_install node:
    command: |
      curl -sL https://rpm.nodesource.com/setup_14.x | sudo bash -
      yum install -y nodejs
  02_postgres_activate:
      command: sudo amazon-linux-extras enable postgresql10
  03_postgres_install:
      command: sudo yum install -y postgresql-devel
